aiohttp
async-timeout
attrs
better-profanity
certifi
chardet
click
discord
discord.py
Flask
idna
itsdangerous
Jinja2
MarkupSafe
multidict
numpy
profanity
requests
slackclient
typing-extensions
urllib3
websockets
Werkzeug
yarl
